@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: dark;
  background: #121212;
  color: #e0e0e0;
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100%;
}

a {
  color: #90caf9;
}
