<mat-toolbar color="primary">
  <span class="app-title" routerLink="/">Prodavnica Igracaka</span>

  <span class="spacer"></span>

  <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>home</mat-icon> Pocetna
  </a>
  <a mat-button routerLink="/toys" routerLinkActive="active-link">
    <mat-icon>toys</mat-icon> Igracke
  </a>

  @if (authService.isLoggedIn()) {
    <a mat-button routerLink="/cart" routerLinkActive="active-link">
      <mat-icon>shopping_cart</mat-icon> Korpa
    </a>
    <a mat-button routerLink="/profile" routerLinkActive="active-link">
      <mat-icon>person</mat-icon> {{ authService.getCurrentUser()?.firstName }}
    </a>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon> Odjava
    </button>
  } @else {
    <a mat-button routerLink="/login" routerLinkActive="active-link">
      <mat-icon>login</mat-icon> Prijava
    </a>
    <a mat-button routerLink="/register" routerLinkActive="active-link">
      <mat-icon>person_add</mat-icon> Registracija
    </a>
  }
</mat-toolbar>
